<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block head %} {% endblock head %}

    <title>پنل مدیریتی کتابخانه| {% block title %} {% endblock title %}</title>
    <meta name="author" content="David Grzyb" />
    <meta name="description" content="" />

    <!-- Tailwind -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      @import url("https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css");
      .font-family-vazirmatn {
        font-family: Vazirmatn;
      }
      .bg-sidebar {
        background: #3d68ff;
      }
      .cta-btn {
        color: #3d68ff;
      }
      .upgrade-btn {
        background: #1947ee;
      }
      .upgrade-btn:hover {
        background: #0038fd;
      }
      .active-nav-link {
        background: #1947ee;
      }
      .nav-item:hover {
        background: #1947ee;
      }
      .account-link:hover {
        background: #3d68ff;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body
    dir="rtl"
    style="font-family: Vazirmatn, Vazir"
    class="bg-gray-100 font-family-vazirmatn flex"
  >
    <aside class="relative bg-sidebar h-screen w-64 hidden sm:block shadow-xl">
      <div class="p-6">
        <a
          href="{% url 'homepage' %}"
          class="text-white text-3xl font-semibold uppercase hover:text-gray-300"
          >پنل کتابخانه</a
        >
      </div>
      <nav class="text-white text-base font-semibold pt-3">
        <a
          href="{% url 'dashbord' %}"
          class="flex items-center text-white opacity-75 {% block dashbord.html-style %} {% endblock dashbord.html-style %} hover:opacity-100 py-2 pl-4 nav-item"
        >
          <i class="fas fa-tachometer-alt mr-3 m-2"></i>
          داشبورد
        </a>
        <a
          href="{% url 'import_excle_file' %}"
          class="flex items-center text-white opacity-75 {% block inputfile.html-style %} {% endblock inputfile.html-style %} hover:opacity-100 py-2 pl-4 nav-item"
        >
          <i class="fas fa-sticky-note mr-3 m-2"></i>
          بارگذاری فایل
        </a>
        <a
          href="{% url 'create_user' %}"
          class="flex items-center text-white opacity-75 {% block createuser.html-style %} {% endblock createuser.html-style %} hover:opacity-100 py-2 pl-4 nav-item"
        >
          <i class="fa fa-user-plus mr-2 m-2" aria-hidden="true"></i>
          ایجاد عضو جدید
        </a>
        <a
          href="{% url 'create_loan' %}"
          class="flex items-center text-white opacity-75 {% block create_loan.html-style %} {% endblock create_loan.html-style %}hover:opacity-100 py-2 pl-4 nav-item"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-bookmark-plus-fill mr-3 m-2"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5m6.5-11a.5.5 0 0 0-1 0V6H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V7H10a.5.5 0 0 0 0-1H8.5z"
            />
          </svg>
          امانت گرفتن
        </a>
        <a
          href="{% url 'search_books' %}"
          class="flex items-center text-white opacity-75 {% block search_books.html-style %} {% endblock search_books.html-style %}hover:opacity-100 py-2 pl-4 nav-item"
        >
          <i class="fa fa-search mr-3 m-2"></i>
          جست و جو
        </a>
      </nav>
    </aside>
    <div class="w-full flex flex-col h-screen overflow-y-hidden">
      <!-- Desktop Header -->
      <header class="w-full items-center bg-white py-2 px-6 hidden sm:flex">
        <div class="w-1/2"></div>
        <div x-data="{ isOpen: false }" class="relative w-1/2 flex justify-end">
          <button
            @click="isOpen = !isOpen"
            class="realtive z-10 w-12 h-12 rounded-full overflow-hidden border-4 border-gray-400 hover:border-gray-300 focus:border-gray-300 focus:outline-none"
          >
            <img src="./Cropped_Image.png" />
          </button>
        </div>
      </header>

      <!-- Mobile Header & Nav -->
      <header
        x-data="{ isOpen: false }"
        class="w-full bg-sidebar py-5 px-6 sm:hidden"
      >
        <div class="flex items-center justify-between">
          <a
            href="{% url 'dashbord' %}"
            class="text-white text-3xl font-semibold uppercase hover:text-gray-300"
            >پنل کتابخانه</a
          >
          <button
            @click="isOpen = !isOpen"
            class="text-white text-3xl focus:outline-none"
          >
            <i x-show="!isOpen" class="fas fa-bars"></i>
            <i x-show="isOpen" class="fas fa-times"></i>
          </button>
        </div>

        <!-- Dropdown Nav -->
        <nav :class="isOpen ? 'flex': 'hidden'" class="flex flex-col pt-4">
          <a
            href="{% url 'dashbord' %}"
            class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item"
          >
            <i class="fas fa-tachometer-alt mr-3 m-2"></i>
            داشبورد
          </a>
          <a
            href="{% url 'import_excle_file' %}"
            class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item"
          >
            <i class="fas fa-sticky-note mr-3 m-2"></i>
            بارگذاری فایل
          </a>
          <a
            href="{% url 'create_user' %}"
            class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item"
          >
            <i class="fa fa-user-plus mr-2 m-2"></i>
            ایجاد عضو جدید
          </a>
          <a
            href="{% url 'create_loan' %}"
            class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-bookmark-plus-fill mr-3 m-2"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5m6.5-11a.5.5 0 0 0-1 0V6H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V7H10a.5.5 0 0 0 0-1H8.5z"
              />
            </svg>
            امانت گرفتن
          </a>
          <a
            href="{% url 'search_books' %}"
            class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item"
          >
            <i class="fa fa-search mr-3 m-2"></i>
            جست و جو
          </a>
        </nav>
      </header>

      <div class="w-full overflow-x-hidden border-t flex flex-col">
        <main class="w-full flex-grow p-6">
          <h1 class="text-3xl text-black pb-6">
            {% block heading %} {% endblock heading %}
          </h1>

          {% block maincontent %} {% endblock maincontent %}
        </main>

        <footer class="w-full bg-white text-right p-4">
          ایجاد شده توسط
          <a
            target="_blank"
            href="https://aliahmadi1080.github.io/AliAhmadi-cv/"
            class="underline"
            >علی احمدی</a
          >.
        </footer>
      </div>
    </div>
    <!-- AlpineJS -->
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <!-- Font Awesome -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
      integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
